@import url('https://fonts.googleapis.com/css?family=Open+Sans');



.sidebar {
  position: fixed;
  width: 15%;
  height: 100vh;
  background: #312450;
  opacity: .7;
  margin-top: 15%;
  margin-bottom: 200px;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}
@media (max-width: 602px){
  .sidebar{
  display: none;
  }
  
}


.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 35%;
  transform: translateY(-50%);
  
  



  ul {
      list-style: none;
  }
  
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 3.2em 0;
  }
    
  a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: #00ff5e;
      display: block;
      transition: all ease-out 300ms;
    }
  a:hover{
      color: white;
      transform: scale(1.3);
      transition: 1s ease;
      
    }
    
  }