
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Londrina+Shadow&family=Major+Mono+Display&family=Monoton&family=Mrs+Sheppards&family=Rowdies:wght@700&family=Russo+One&display=swap');
.header{


  display: flex;
  position: fixed;
  justify-content: flex-end;
  color: #fff;
  
  top:0;
  right:0;
  font-size: 2em;
  text-align: center;
  font-weight: bold;

    h1{
      margin-right: 2vw;
      text-shadow: 2px 2px black;
    }
    b:hover{
      color:white;
    }
    img{
      width: 15%;
      height: 15%;
      position:fixed;
      justify-self: left;
      left:50px;
      top:20px;
    }
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
    font-family: 'Rowdies', cursive;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
    
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
}
@media (max-width: 623px){
 img{
   display:none;
 }
  
}

.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear,left top,right top,from(#7c0747),to(#7c0747),color-stop(.5,#fff));
  background: -moz-gradient(linear,left top,right top,from(#7c0747),to(#7c0747),color-stop(.5,#fff));
  background: gradient(linear,left top,right top,from(#7c0747),to(#7c0747),color-stop(.5,#fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #dd1009;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

@keyframes shimmer {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}